.navigation-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 1rem 0;
	padding: 1rem;
	border-radius: 0.3rem;
	border: 2px solid #e3e3e3;
	background-color: #ff3f6c;
	justify-content: space-between;
}
.nav-icon {
	font-size: 2rem;
	margin: 0.5rem 0.5rem;
	padding: 0 1rem;
	color: white;
}
.nav-text {
	font-family: bold;
	font-size: 2rem;
	color: white;
}
